* {
  box-sizing: border-box;
}

body {
  font-family: arial, verdana, sans-serif;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #000;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}

section {
  margin: auto;
  margin-top: 4em;
  max-width: 50em;
}

#landing {
  background: url('jelly.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 0;
  max-width: 100%;
  min-height: 25em;
  width: 100%;
}

#landing h1 {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-size: 2.5em;
  width: 10em;
  text-align: center;
  padding: 0.5em;
  margin: auto;
}

.gallery {
  display: flex;
}

.gallery-item {
  border-radius: 4px;
  box-shadow: 0 0 2px #aaa;
  max-width: 20em;
  overflow: hidden;
}

.gallery-item p, .gallery-item h4 {
  margin: 0;
}

.gallery-item img {
  width: 100%;
}

.gallery-image {
  height: 15em;
  overflow: hidden;
}

.gallery-caption {
  font-size: 0.75em;
  padding: 0.5rem;
  color: #aaa;
}

.gallery-description {
  padding: 0.5rem;
}

.gallery-description p {
  padding: 0.5em 0;
}

table {
  text-align: center;
  margin: 0 auto 0 auto;
}

tbody td {
  padding: 0 5px 0 5px;
  border: 1px black solid;
}

img {
  display: block;
  margin: 0 auto;
}
figure {
  display: inline-block;
}

.table-image {
  max-height: 200px;
}
