* {
  box-sizing: border-box;
}

body {
  font-family: 'Comic Sans MS', 'Comic Sans', arial, verdana, sans-serif;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  color: #000;
  display: block;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
}

section {
  margin: auto;
  margin-top: 4em;
  max-width: 65em;
}

section h1 {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(10%, #f2f), color-stop(20%, #22f), color-stop(30%, #2ff), color-stop(40%, #2f2),color-stop(50%, #2f2), color-stop(60%, #ff2), color-stop(80%, #f22) );
  /* background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) ); */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#landing {
  background: url('jelly.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  margin: 0;
  max-width: 100%;
  min-height: 25em;
  width: 100%;
}

#landing h1 {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  font-size: 2.5em;
  width: 10em;
  text-align: center;
  padding: 0.5em;
  margin: auto;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.gallery-item {
  border-radius: 4px;
  box-shadow: 0 0 2px #aaa;
  max-width: 20em;
  overflow: hidden;
}

.gallery-item p, .gallery-item h4 {
  margin: 0;
}

.gallery-item img {
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.gallery-image {
  height: 15em;
  overflow: hidden;
}

.gallery-caption {
  font-size: 0.75em;
  padding: 0.5rem;
  color: #aaa;
}

.gallery-description {
  padding: 0.5rem;
}

.gallery-description p {
  padding: 0.5em 0;
}

table {
  text-align: center;
  margin: 0 auto 0 auto;
}

tbody td {
  padding: 0 5px 0 5px;
  border: 1px black solid;
}

img {
  display: block;
  margin: 0 auto;
}
figure {
  display: inline-block;
}

.table-image {
  max-height: 200px;
}
